/* Basic reset and styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
  
  /* Header styles */
  header {
    background-color: #f2f2f2;
    padding: 20px 0;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  
  
  /* Hero section styles */
  .hero {
    background-image: url('https://via.placeholder.com/1500x600'); /* Placeholder image */
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 100px 0;
  }
  
  .hero-content {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  .hero p {
    font-size: 18px;
    margin-bottom: 40px;
  }
  
  
/* Contact section styles */
.contact {
    background-color: #f9b454;
    text-align: center;
    padding: 20px;
    border: 2px solid #f9b454;
    margin: 10px auto;
    max-width: 800px;
    width: 70%;
    border-radius: 30px;
    max-height: 275px; /* Set maximum height */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .contact form {
    max-width: 400px;
    margin: 0 auto;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .contact form label {
    display: block;
    text-align: left; /* Align labels to the left */
    margin-bottom: 5px;
  }
  .contact form input,
  .contact form textarea {
    width: calc(100%); /* Adjusted width to fit within the container */
    padding: 7px; /* Smaller padding */
    margin-bottom: 5px;
    border: 1px solid #fde7c9;
    border-radius: 15px; /* Smaller border radius */
    background-color: #fde7c9;
  }
  .contact form button {
    width: 50%; /* Adjusted width for smaller button */
    padding: 7px; /* Smaller padding */
    margin: 0 auto; /* Center the button horizontally */
    background-color: #af2f64;
    color: #fff;
    border: none;
    border-radius: 5px; /* Smaller border radius */
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .contact form button:hover {
    background-color: #e68a00;
  }
  
  
  